<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Hello world!</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        const socket = io({ transports: ['websocket'] });
        
        socket.on('newMessage', (msg) => {
            console.log('msg:', msg);
        });

        socket.on('connect', () => {
            console.log('connected!');
        });

        socket.on('error', (err) => {
            console.error(err);
        });
    </script>
</body>
</html>